   <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <!-- <li class="nav-item">
              <a class="nav-link active" href="#">Sign In</a>
            </li>-->
           
            <li class="nav-item">
              <a class="nav-link" href="#">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Learn More</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome Back</h5>
          <p class="card-text">Tech Networking Collaborative</p>

          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>
      </div>