    <div class="card" style="width: 18rem;">
        <img src="./images/tree-200795_640.jpg" class="card-img-top" alt="Our logo.">
        <div class="card-body">
          <p class="card-text">Jason, John, Jacob, and Sachi are a team of JR developers in training at Denver University coding bootcamp. We hope you enjoy this app!</p>
        </div>
      </div>