   <form class="signForm">
    <div class="card text-center">
        <div class="card-header">
          <div class="card">
            <div class="card-body">
              Code Camp
            </div>
          </div>
        
        </div>
        <div class="card-body">
          <h5 class="card-title">Log In</h5>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label" id="emailId">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="emailId" value="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label" id="loginPwd">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="loginPwd">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </div>
      </form>
<form class="signUp">
      <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">Sign Up</h5>
          <form>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label" id="user_Name">User Name</label>
              <div class="col-sm-10">
                <input type="Username" class="form-control" id="personName">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label" id="emailId">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="emailId">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label" id="loginPwd">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="loginPwd">
              </div>
            </div>
         <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        </div>
          </form>