   <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Welcome Back Janie</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Job</h6>
          <p class="card-text"></p>
          <!-- <a href="#" class="card-link">Resume Chat</a>
          <a href="#" class="card-link">Create a new</a> -->
        </div>
      </div>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">HTML/CSS</h5>
              <p class="card-text">Support our new developers and make connections in this interactive html/css support group.</p>
              <div class="card">
                <div class="card-body">
                  Conversation display
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your thoughts..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
              </div>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Javascript</h5>
              <p class="card-text">Think you know javascript? Lead a team and build friendships in javascript land</p>
              <div class="card">
                <div class="card-body">
                  Conversation display
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your thoughts..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
              </div>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Ideas</h5>
              <p class="card-text">Got some good ideas? Share them here and recruit for your next big project!</p>
              <div class="card">
                <div class="card-body">
                  Conversation display
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your thoughts..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
              </div>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ask Chat GPT!</h5>
              <p class="card-text">Got some good ideas? Share them here and recruit for your next big project!</p>
              <div class="card">
                <div class="card-body" id="chatGptDisplay">
                  
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your thoughts..." aria-label="Recipient's username" aria-describedby="button-addon2" id="chatGptEntry">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="chatGptPost()">Post</button>
              </div>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>